{% extends "base.html" %}

{% block content %}


    <header>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-12">
                    <img src="../static/img/icons/Lingo-Bird-small-fullscreen_midsized-logo.svg" alt="BigScreen" class="img-responsive" />
                </div>
            </div>
        </div>
    </header>



    <main>



        <!-- Section 2 -->

        <section class="section-2 container-fluid p-0">

            <span id="about"></span>

            <!--

            <div class="intro text-center">
              <div class="container-card-arrow">
                <div class="container text-center running-text">
                    <div class="card-1">
                        <div class="card-body-1">
                            <h1 class="text-dark">Learn A Language And Get Connected</h1>
                            <p class="text-dark">You don’t want to gain knowledge only within your learning environment but rather put what you have learned into.</p>
                            <p id="text-orange">Let's step up your language game!</p>
                        </div>

                    </div>

                </div>
                  <img class="arrow-2" src="../static/img/icons/double-arrow.svg" alt="arrow-icon"/>
              </div>

              -->

             <div class="intro text-center">
              <div class="container-card-arrow">
                    <div class="card-1">
                        <div class="card-body-1">
                            <h1 class="text-dark">Learn A Language And Get Connected</h1>
                            <p class="text-dark">You don’t want to gain knowledge only within your learning environment but rather put what you have learned into.</p>
                        </div>

                         <div class="card-body-2">
                             <div class="purple-rectangle-intro">
                                 <div class="card-body-2-img">
                                     <img id="img-about-left-align" src="./static/img/icons/about-header-icon.svg" alt="about-icon"/>
                                 </div>
                                 <div class="card-body-2-content">
                                     <p class="text-dark" id="left-align">You don’t want to gain knowledge only within your learning environment but rather put what you have learned into direct practice? Whether your goal is to improve your language skills.</p>
                                 </div>

                             </div>

                        </div>

                        <div class="card-body-1">
                            <p id="text-orange">Let's step up your language game!</p>
                        </div>


                    </div>

                  <img class="arrow-2" src="../static/img/icons/double-arrow.svg" alt="arrow-icon"/>
              </div>


                <div class="cards">
                    <div class="d-flex flex-row justify-content-center flex-wrap">

                        <!-- First Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                    <img src="../static/img/icons/feather-icon.svg" alt="feather-icon"/>
                                </div>
                                <div class="pricing">
                                    <h1>We Help You Improve Your <br> Language Experience</h1>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                    <a href="#" class="btn px-5 py-2 mb-5">Go check our services</a>
                                </div>
                            </div>
                        </div>

                        <!-- Second Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-exception">
                                    <img src="../static/img/icons/connected-icon.svg" alt="connected-icon"/>
                                </div>
                                <div class="pricing">
                                    <h1>We Connect People</h1>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <a href="/discover" class="A btn px-5 py-2 mb-5">Join our events</a>
                                </div>
                            </div>
                        </div>

                        <!-- Third Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                    <img src="../static/img/icons/global-com-icon.svg" alt="global-com-icon"/>
                                </div>
                                <div class="pricing">
                                    <h1>We Are A Global Community</h1>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <a href="#" class="A btn px-5 py-2 mb-5">Travel the world with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <!-- Quotes -->

        <section class="section-4">
            <div class="intro text-center">
                <div class="container text-center running-text">
                  <div class="card-1">
                      <div class="container-card-arrow">
                        <h1 class="text-dark">Advice From Our Experienced Lingos</h1>
                      </div>
                  </div>
                </div>

                <div class="arrow-container">
                  <img class="arrow-2" src="../static/img/icons/double-arrow.svg" alt="arrow-icon"/>
                </div>
            </div>



                <div id="bootstrap-override" class="team row">

                  <div class="col-md-12 col-12 text-center justify-content-center card-alignment">


                          <!-- Card w/ Carousel -->
                          <div class="col-md-12 col-12 card-alignment">
                            <!-- Carousel Start -->
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div id="carousel-inner" class="carousel-inner">


                                  <div class="carousel-item active text-center">
                                      <!-- Card 2 -->
                                      <div class="card mr-2 d-inline-block shadow-lg">
                                          <div class="card-img-top">
                                            <img src="../static/img/ui-faces/face-6.jpg" alt="Member" class="img-fluid rounded-circle w-50 p-4">
                                          </div>
                                        <div class="card-body">
                                          <h3 class="card-title">Connor Wilson</h3>
                                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                      </div>
                                  </div>


                                  <div class="carousel-item text-center">
                                      <!-- Card 3 -->
                                      <div class="card mr-2 d-inline-block shadow-lg">
                                          <div class="card-img-top">
                                            <img src="../static/img/ui-faces/face-1.jpg" alt="Member" class="img-fluid rounded-circle w-50 p-4">
                                          </div>
                                        <div class="card-body">
                                          <h3 class="card-title">Megan Anderson</h3>
                                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="carousel-item text-center">
                                      <!-- Card 4 -->
                                      <div class="card mr-2 d-inline-block shadow-lg">
                                          <div class="card-img-top">
                                            <img src="../static/img/ui-faces/face-8.jpg" alt="Member" class="img-fluid rounded-circle w-50 p-4">
                                          </div>
                                        <div class="card-body">
                                          <h3 class="card-title">Ella Mackay</h3>
                                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="carousel-item text-center">
                                      <!-- Card 5 -->
                                      <div class="card mr-2 d-inline-block shadow-lg">
                                          <div class="card-img-top">
                                            <img src="../static/img/ui-faces/face-7.jpg" alt="Member" class="img-fluid rounded-circle w-50 p-4">
                                          </div>
                                        <div class="card-body">
                                          <h3 class="card-title">Ian Miller</h3>
                                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                                        </div>
                                      </div>
                                  </div>

                              </div>
                            </div>
                          </div>
                  </div>
                </div>
        </section>



        <!-- SECTION 5 -->

        <section class="section-5">

            <div class="intro text-center">
                <div class="container text-center running-text">
                  <div class="card-1">
                      <div class="container-card-arrow">
                        <h1 class="text-dark">Have Fun & Discover</h1>
                      </div>
                  </div>
                </div>

                  <!-- Search Box -->
                <div class="searchbox">

                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search For A City">
                  </div>
                </div>
            </div>

            <!-- Full Width Img -->
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../static/img/icons/discover.sunset.svg" alt="discover" class="img-responsive" />
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}