{% extends "base.html" %}

{% block content %}

<main id="bootstrap-overrides">
  <div class="team row">
                <div class="col-md-12 col-12 text-center justify-content-center card-alignment">


                          <!-- Card w/ Carousel -->
                          <div class="col-md-12 col-12 card-alignment">
                            <!-- Carousel Start -->

                              <div class="carousel-inner">

                                  <div class="carousel-item active text-center">
                                      <!-- Card 2 -->
                                    <div class="profile-card mr-2 d-inline-block">
                                      <div class="profile-card">
                                          <div class="card-img-top">
                                            <img src="../static/img/icons/success.svg" alt="success" class="img-fluid w-50 p-4">
                                          </div>
                                        <div class="card-body">
                                          <h1 class="profile-card-title">Success!</h1>
                                          <p class="profile-card-text">Your Form Has Been Submitted :)</p>
                                        </div>

                                           <div class="btn-container">
                                            <a href="/" class="btn A">Home</a>
                                           </div>

                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                </div>
  </div>
</main>

{% endblock content %}